[submodule "libs/ObjectIR.Core"]
	path = libs/ObjectIR.Core
	url = https://git.finite.ovh/ObjectIR.Core
[submodule "libs/ObjectIR.AST"]
	path = libs/ObjectIR.AST
	url = https://github.com/fy-nite/ObjectIR.AST
